<div ng-if="!userLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<div class="alert alert-danger" role="alert" ng-if="notfoundError">Пользователь не найден</div>

<div class="media" ng-if="userLoaded">
    <form name="userForm" novalidate>
        <div class="form-group">
            <label>Имя</label>
            <input class="form-control" ng-model="user.name" type="text" placeholder="Имя" required>
        </div>
        <div class="form-group">
            <label>Логин</label>
            <input class="form-control" ng-model="user.username" type="text" placeholder="Логин">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" ng-model="user.email" type="text" placeholder="Email">
        </div>
        <button type="submit btn" class="btn btn-primary" ng-click="editUser(user.id)" ng-disabled="userForm.$invalid">
            <span class="glyphicon glyphicon-save"></span>
            Сохранить
        </button>
        <button class="btn btn-danger" ng-click="deleteUser(user.id)">
            <span class="glyphicon glyphicon-trash"></span>
            Удалить
        </button>
    </form>    
    <p></p>
    <div class="alert alert-danger" role="alert" ng-if="editionError">Не удалось сохранить!</div>
    <div class="alert alert-success" role="alert" ng-if="editionSuccess">Сохранение прошло удачно!</div>

</div>

<div class="alert alert-success" role="alert" ng-if="deletionSuccess">Пока, пользователь!</div>
<div class="alert alert-danger" role="alert" ng-if="deletionError">Пользователи не сдаются!</div>