Найти:
<input ng-model="myQuery"><br><br>

Рост покемона:
<input ng-model="pocemonheight"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу</option>
    <option value="name">Имени</option>
    <option value="height">Росту</option>
</select>

Тип сортировки:
<select ng-model="myOrderType">
    <option value="">По возрастанию</option>
    <option value="0">По убыванию</option>
</select>

Тип покемона:
<select ng-model="pokemontypes">
    <option ng-repeat="type in pokemontypesarray | orderBy : ''" value="{{type}}">{{type}}</option>
</select>

<pre>Sort by = {{myOrderProperty}}; reverse = {{myOrderType}}</pre>
<ul>
    <li ng-repeat=" pokemon in pokemons | 
                    filterbytype : pokemontypes | 
                    filter: {'name': myQuery} | 
                    filter: {'height' : pocemonheight } | 
                    orderBy: myOrderProperty : myOrderType">
        <img src="{{pokemon.ThumbnailImage}}" id="{{pokemon.name}}" ng-click="greet($event)">
        <small>ID #{{pokemon.id}}</small>
        <h1 ng-class="{ {{pokemon.type [0]}} : 1}">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>